<div class="auth-wrapper">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <!-- Errors -->
    <div *ngIf="errors?.email" class="alert alert-danger mt-3">
      {{ errors?.email }}
    </div>
    <div *ngIf="errors?.password" class="alert alert-danger mt-3">
      {{ errors?.password }}
    </div>
    <div *ngIf="errors?.error" class="alert alert-danger mt-3">
      {{ errors?.error }}
    </div>

    <div>
      <div class="row">
        <div class="col-sm 6 p-5 lft">
          <img src="https://user-images.githubusercontent.com/1560278/27637937-cb4b9b24-5c11-11e7-949b-15c1e4cdb53c.gif"
            alt="angular">
        </div>
        <div class="col-sm-6 rounded p-5 bg-dark rgt">
          <!-- Login -->
          <h5 class="text-white pb-5">Bem vindo ao Framework Angular.</h5>
          <div class="form-group text-white">
            <label>E-mail:</label>
            <input type="email" class="form-control" placeholder="example@teste.com" formControlName="email">
          </div>
          <div class="form-group text-white">
            <label>Password:</label>
            <input type="password" class="form-control" placeholder="**********" formControlName="password">
          </div>
          <div class="float-right">
            <button type="submit" class="btn btn-sm btn-danger">Entrar</button>
          </div>
          <div>
          <a class="text-white font-italic" *ngIf="!isSignedIn" routerLink="/register"><u>Realizar cadastro!</u></a>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
